<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인 성공</h1><br>
    <a href="/finish" data-code="<%= code %>">사용자정보 api 사용하기</a>
</body>
</html>