<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    step1. login
    <a href="<%= url %>">GO!</a>
=======

    <a href="<%= auth_uri %>">LOGIN</a>
    
>>>>>>> 2ce1e495e533367074cc71cb03dfa83701a9d2cc
    
</body>
</html>