<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    성공했어!<br>
    닉네임 : <%= nickname %><br>
    프로필사진 : <br><img src="<%= profile_image %>">
    
</body>
</html>